name: Sync to Hugging Face Hub
on:
  push:
    branches: [main]

  # 允许手动触发
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true

      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git fetch https://FrozenPenguin:$HF_TOKEN@huggingface.co/spaces/FrozenPenguin/words main || true
          git push --force https://FrozenPenguin:$HF_TOKEN@huggingface.co/spaces/FrozenPenguin/words main